<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Joystick
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Joystick</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-label >
      CONNECT STATUS
    </ion-label>
    <ion-icon name="cellular-outline" slot="end" color="success" style="{{iconStyle1}}"></ion-icon>
    <ion-icon name="cellular" slot="end" color="success" style="{{iconStyle2}}"></ion-icon>
  </ion-item>
  
  <div id="zone_joystickL"></div>
  <div id="zone_joystickR"></div>
  <!-- <app-explore-container name="Joystick"></app-explore-container>-->
</ion-content>
